.job{
    background-image: url('https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 100%;
    height: 123vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.applyJob {

    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    width: 100%;
    opacity: 0;
    height: 123vh;
}

.job .applyJob {
    opacity: 1;
}

.jonPortal img{
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.jonPortal2 img{
    width: 70%;
    height: 200px;
    margin-top: 40px;
}


.container {
    max-width: 1232px;

}
.jonPortal img{
    transition: transform .3s;
}
.jonPortal:hover img {
    transform: scale(1.1);
    transition: transform .5s ease;
  }
  